/*clean up*/

.sectionPanel .separator {
	border: 0px !important;
}

.titleanchored {
  display: none !important;
}

.appTitle {
  display: none !important;
}

/*layouts*/

body.layout-float-left #floatingPanel {
  left: 100px !important;
}

.swiper-slide:not(.swiper-slide-active) { 
  opacity: 0.25 
}

.floatingPanel .section, .swiper-container, .floatingPanel .sections {
  overflow: visible;
}

/*typography*/

body.layout-float-left .floatingPanel .section {
  padding: 0 15% 0 8% !important;
  text-align: justify !important;
}

h1.title{
  text-align: center;
  opacity: .9;
  margin: 50px 0;
}

.navDots .navDotsInner {
  opacity: .25;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.navDots .navDotsInner:hover {
  opacity: .9;
}

/*in section static images*/

.image-container.section-icon {
  left: 50%;
  margin-left: -60px;
  opacity: .9;
}
.image-container.sankey-diagram {
  width: 280%;
  bottom: 60px;
  position: absolute !important;
  left: 110%;
}